<ion-view view-title="Login" align-title="left">
  <ion-content style="background: #EDE81E center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>Driver</h1>
            </div>
        </div>
        <div class="list">
            <ion-md-input placeholder="Username" highlight-color="balanced" type="text"></ion-md-input>
            <ion-md-input placeholder="Password" highlight-color="energized" type="password"></ion-md-input>
        </div>
        <div class="padding">
          <button ui-sref="app.driver_login_form" class="button button-full button-dark ink">Login</button>
          <button ui-sref="app.driver_register_form" class="button button-full button-dark ink">Register</button>
        </div>

    </ion-content>
</ion-view>
