<ion-view view-title="register" name="register-view">
  <ion-content>
      <div class="padding">





              <label class="item item-input">
              <!-- <span class="input-label">Username</span> -->
              <input type="text" placeholder="Car Id"  ng-model="driver.carId">
            </label>
            <label class="item item-input">
              <!-- <span class="input-label">Password</span> -->
              <input type="password" placeholder="password"  ng-model="driver.password">
            </label>


              <button ng-click="driverLogin(driver)" class="button button-full button-dark ink">Login</button>

          </div>

      </ion-content>
    </ion-view>
