<ion-view view-title="Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">


        <div class="list animate-fade-slide-in-right">


            <div ng-hide="isRunning" ng-click = "hitCarPosition();"class="item item-avatar item-icon-right">
                        <h2>Start</h2>
                        </div>
            <div  ng-show="isRunning" ng-click = "stopCarPosition();"class="item item-avatar item-icon-right">
                        <h2>stop</h2>
                        </div>
            <div  ng-click = "xmppConnectMe();"class="item item-avatar item-icon-right">
                        <h2>xmpp Connect</h2>
                        </div>
            <div  ng-click = "xmppDisconnectMe();"class="item item-avatar item-icon-right">
                        <h2>xmpp Disconnect</h2>
                        </div>
            <div  ng-click = "testMe();"class="item item-avatar item-icon-right">
                        <h2>Test Me</h2>
                        </div>
            <div  ng-click = "handle_pong();"class="item item-avatar item-icon-right">
                        <h2>Handle pong</h2>
                        </div>


                        <div class="padding">





                                <label class="item item-input">jid:
                                <input type="text"  ng-model="user.message.jid">
                              </label>
                              <label class="item item-input">message:
                                <input type="text" ng-model="user.message.jmessage">
                              </label>


                                <button ng-click="sendMessage()" class="button button-full button-dark ink">send</button>

                            </div>
                            <button ng-click="checkPresense()" class="button button-full button-dark ink">Presense</button>



        </div>
    </ion-content>
</ion-view>
