<ion-view view-title="register" name="register-view">
  <ion-content>
      <div class="padding">

            <label class="item item-input">
            <input type="text" placeholder="Name" name="name" ng-model="user.name">

          </label>

          <label class="item item-input">
            <input type="text" placeholder="Date of Birth" name="date of birth" ng-model="user.dt">

          </label>
          <label class="item item-input">
            <input type="text" placeholder="Mobile No" name="mobile no" ng-model="user.mobile_no">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Present Adress" name="present adress" ng-model="user.present_adress"/>
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Parmanent  Adress" name="parmanent adress" ng-model="user.parmanent_adress"/>
          </label>

          <label class="item item-input">
              <input type="text" placeholder="Working Experience1" name="Working Experience1" ng-model="user.working_experience1"/>
          </label>
          <label class="item item-input">
              <input type="text" placeholder="Working Experience2" name="Working Experience2" ng-model="user.working_experience2"/>
          </label>



          <label class="item item-input">
            <input type="text" placeholder="NID No" name="NID no" ng-model="user.NID"/>
          </label>

          <!-- upload button require-->

          <label class="item item-input">
              <input type="text" placeholder="Manufacture Compay Name" name="manufacture company name" ng-model="user.company_name"/>
          </label>

          <label class="item item-input">
              <input type="text" placeholder="Car's Model Name" name=" car's model name" ng-model="user.model_name"/>
          </label>

          <label class="item item-input">
              <input type="text" placeholder="Car's Model Year" name="car'smodel year" ng-model="user.model_year"/>
          </label>

          <!-- upload button require-->

          <label class="item item-input">
            <input type="text" placeholder="Owner Name" name="owner name" ng-model="user.owner_name"/>
          </label>

            <label class="item item-input">
            <input type="text" placeholder="Owner Mobile No" name="owner mobile no" ng-model="user.owner_mobile_no">

          </label>
          <label class="item item-input">
            <input type="text" placeholder="Owner Parmanent  Adress" name="owner parmanent adress" ng-model="user.owner_parmanent_adress"/>
          </label>

            <label class="item item-input">
            <input type="text" placeholder="Emergency Contact Name1" name="emergency contact name1" ng-model="user.emer1_cont_name"/>
          </label>

            <label class="item item-input">
            <input type="text" placeholder="Mobile No" name="mobile no" ng-model="user.emer1_mob_no">

          </label>
          <label class="item item-input">
            <input type="text" placeholder="Parmanent  Adress" name="parmanent adress" ng-model="user.emer2_parmanent_adress"/>
          </label>

            <label class="item item-input">
            <input type="text" placeholder="Emergency Contact Name2" name="Emergency Contact Name2" ng-model="user.emer2_cont_name"/>
          </label>

            <label class="item item-input">
            <input type="text" placeholder="Mobile No" name="mobile no" ng-model="user.emer2_mob_no">

          </label>
          <label class="item item-input">
            <input type="text" placeholder="Parmanent  Adress" name="parmanent adress" ng-model="user.emer2_parmanent_adress"/>
          </label>




              <label class="item item-input">
              <!-- <span class="input-label">Username</span> -->
              <input type="text" placeholder="Car Id"  ng-model="driver.carId">
            </label>
            <label class="item item-input">
              <!-- <span class="input-label">Password</span> -->
              <input type="password" placeholder="password"  ng-model="driver.password">
            </label>
            <label class="item item-input">
              <!-- <span class="input-label">Confirm Password</span> -->
              <input type="password" placeholder="Confirm Password"  ng-model="driver.confirmPassword">
            </label>
            <!-- <div> -->
              <label class="inline">
            <input class="inline" type="checkbox"  name="" ng-model="user.observe_salah_completely"/>
              I Agree with terms and conditions
            </label>
            <!-- </div> -->
            <!-- <div class="padding"> -->
              <button ng-click="driverRegister(driver)" class="button button-full button-dark ink">Register</button>
            <!-- </div> -->
          </div>

      </ion-content>
    </ion-view>
