<ion-view view-title="register" name="register-view">
  <ion-content style="background: #EDE81E center; background-size: cover;">
      <div class="padding">

        <div class="app-icon"></div>

              <label class="item item-input">
              <!-- <span class="input-label">Username</span> -->
              <input type="text" placeholder="Email"  ng-model="driver.email">
            </label>
            <label class="item item-input">
              <!-- <span class="input-label">Password</span> -->
              <input type="password" placeholder="password"  ng-model="driver.password">
            </label>
            <label class="item item-input">
              <!-- <span class="input-label">Confirm Password</span> -->
              <input type="password" placeholder="Confirm Password"  ng-model="driver.confirmPassword">
            </label>
            <!-- <div> -->
              <label class="inline">
            <input class="inline" type="checkbox"  name="" ng-model="user.observe_salah_completely"/>
              I Agree with terms and conditions
            </label>
            <!-- </div> -->
            <!-- <div class="padding"> -->
              <button ng-click="passengerRegister(driver)" class="button button-full button-dark ink">Register</button>
            <!-- </div> -->
          </div>

      </ion-content>
    </ion-view>
