<ion-view view-title="Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div>
            <div class="hero slide-up">
                <ui-gmap-google-map class="angular-google-map-container" center='map.center' zoom='map.zoom'>
                    <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id"></ui-gmap-marker>
                </ui-gmap-google-map>
            </div>
        </div>
    </ion-content>
</ion-view>
