<ion-view view-title="register" name="register-view">
  <ion-content style="background: #EDE81E center; background-size: cover;">
      <div class="padding">


        <div class="app-icon"></div>

              <label class="item item-input">
              <!-- <span class="input-label">Username</span> -->
              <input type="text" placeholder="Email"  ng-model="driver.email">
            </label>
            <label class="item item-input">
              <!-- <span class="input-label">Password</span> -->
              <input type="password" placeholder="password"  ng-model="driver.password">
            </label>


              <button ng-click="passengerLogin(driver)" class="button button-full button-dark ink">Login</button>
              <button ui-sref="app.passenger_register_form" class="button button-full button-dark ink">Register</button>


          </div>
          <div class="row">
            <div class="col" ui-sref="app.driver_login">Are you a driver?</div>
            <div class="col">Forgot Password?</div>
          </div>
      </ion-content>
    </ion-view>
