<ion-view view-title="Login" align-title="left">
    <ion-content style="background: #F9ED23 center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <!-- <div class="app-icon"></div> -->
                <h1>AmarTaxi</h1>
            </div>
        </div>
        <div class="list">
            <ion-md-input placeholder="Username" highlight-color="balanced" type="text"></ion-md-input>
            <ion-md-input placeholder="Password" highlight-color="energized" type="password"></ion-md-input>
        </div>
        <div class="padding">
            <button ui-sref="app.driver_login" class="button button-full button-dark ink">Driver</button>
            <button ui-sref="app.passenger_login" class="button button-full button-dark ink">Passenger</button>

        </div>
        <!-- <div class="button-bar social-login">
            <button class="button button-small button-border icon-left ion-social-google button-assertive-900">Google+</button>
            <button class="button button-small button-border icon-left ion-social-twitter button-calm-900">Twitter</button>
            <button class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>
        </div> -->
    </ion-content>
</ion-view>
